<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow">
    <div class="card-body">
      <p class="text-muted">Todos los campos son obligatorios</p>
      <div class="form-group">
        <label for="tipoDocumento">Tipo de documento</label>
        <select id="tipoDocumento" class="form-control" [(ngModel)]="tipoDocumento" (change)="onInputChange()" required>
          <option value="" disabled selected>Seleccione un tipo de documento</option>
          <option value="C">Cédula de ciudadanía</option>
          <option value="P">Pasaporte</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="numeroDocumento">Número de documento</label>
        <input id="numeroDocumento" class="form-control" type="text" [(ngModel)]="numeroDocumento" (input)="onInputChange($event)" minlength="8" maxlength="11" required>
      </div>
      <button class="btn btn-primary mt-3" [disabled]="botonDesactivado" (click)="buscarCliente()">Buscar</button>
    </div>
  </div>
</div>
