html, body {
    height: 100%;
    margin: 0;
}
  
.vh-100 {
    height: 100vh;
}
  
.card {
    background-color: #e7f3ff; 
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
}
  
.form-group label {
    font-weight: bold;
}
  
button.btn {
    width: 100%;
}
  
.text-muted {
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
  